# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Temporary files, for example, from tests.
/tmp/

# source
/source

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Compiled artifacts
*.beam

# Local session data and temporary files
/apps/*/tmp/
/apps/*/priv/sessions/
/apps/*/lib/priv/sessions/

# Language Server
/.elixir_ls/
/.lexical/

# Editor files
*.swp
*~
.DS_Store

# Javascript
node_modules/
bun.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Agent temporary files
/.antigravitycli/


